
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Zain:wght@200;300;400;700;800;900&display=swap');


h1 {
    text-align: center;
    color: #FFF2E7;
    width: 308px;
    height: 80px;
    top: 190px;
    left: 368px;
    font-family: "Libre Franklin", sans-serif;
    font-size: 3rem ;
}
body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

fieldset {
    background-color: #8E5D52;
    border-radius: 10px;
    margin: 20px;
    width: 40%;
    height: 270px;
    margin: 30px;
}

legend {
    padding: 10px;
    font-size: 25px;
    font-family: "Zain", sans-serif;
    color: #FFF2E7;
}

#titleField {
    border-radius: 5px;
    width: 50%;
    height: 20px;
    background-color: #ECD6C4;
    font-family: "Zain", sans-serif;
    color: #2F2325;
    font-size: 20px;
    border-color: #2F2325;
    padding: 5px;
    margin: 5px;
}

#bodyField {
    border-radius: 5px;
   width: 400px;
   height: 100px;
    background-color: #ECD6C4;
    font-family: "Zain", sans-serif;
    color: #2F2325;
    font-size: 20px;
    border-color: #2F2325;
    padding: 5px;
    margin: 5px;
}

#insertButton {
    border-radius: 20px;
    background-color: #ECD6C4;
    color: #2F2325;
    width: 85px;
    height: 40px;
}